<h2> This is the <%=@list.title %> </h2>

<% @list_articles.each do |article| %>
  <%= render 'articles/card', article: article  %>
<% end %>

<%= render 'shared/side_bar', lists: @lists %>

<%= render 'shared/new_article_form', article: @article, list: @list %>
