<div class="image-card">
  <%= cl_image_tag shoot.photo, class:"big-screen" %>
  <% if policy(shoot).edit? %>
    <%=  link_to "effacer", shooting_shoot_path(@shooting, shoot), method: :delete  %>
    <%= render 'shared/new_shoot_form', shooting:@shooting, shoot: shoot %>
  <% end %>
</div>
