<div class="image-card">
  <%= cl_image_tag shoot.photo, width: 1400, crop: :scale, class:"big-screen" %>
  <% if policy(shoot).edit? %>
    <div class="edit-shoot-form">
      <%= render 'shared/edit_shoot_form', shooting: @shooting, shoot: shoot %>
    </div>
  <% end %>
</div>


