 <%= render 'shared/navbar' %>
  <%= render 'shared/mobilemenu' %>
<div class="container">
    <% @shoots.each do |shoot| %>
      <%= render 'shoots/big_card_index', shoot: shoot %>
    <% end %>
</div>
