// Specific CSS for your home-page
.page {
  display: flex;
}

.main-content {
  max-width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
}

body {
  background: white;
}

body {
  h2, h3, h4 {
  font-weight: 400;
  }
}

@media(max-width: 720px) {
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
}
