<div class="image-card">
  <%= cl_image_tag article.photo, width: 350, crop: :fill %>
  <p> <%= article.description %> </p>
  <% if policy(article).edit? %>
    <%=  link_to "effacer", list_article_path(@list, article), method: :delete  %>
    <%= render 'shared/new_article_form', list:@list, article: article %>
  <% end %>
</div>
