<div class="image-card">
  <%= cl_image_tag article.photo, width: 300, crop: :fill %>
  <p> <%= article.description %> </p>
  <%=  link_to "effacer", list_article_path(@list, article), method: :delete  %>
</div>
