  <div class="logo">
    <%= cl_image_tag 'logo' %>
  </div>
    <h2 class="title">Prototype <br /> Vintage</h2>
    <ul class="list-inline">
      <li>Produits</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
