<div class="list-form">
  <%= simple_form_for(list) do |f| %>
    <%= f.input :title, placeholder: 'Titre', label:false %>
    <%= f.submit "ok d'accord", class: "btn btn-prototype" %>
  <% end %>
</div>
