<h3>----this is the lists side bar-----</h3>
<% lists.each do |list| %>
<li><%= link_to list.title, list_path(list)  %></li>
<% end %>
<li><%= link_to 'home', root_path %></li>
<li><%= link_to 'add a list', new_list_path %></li>
