<div class="page">
  <div class="side-bar">
    <%= render 'shared/side_bar', lists: @lists %>
  </div>
  <div class="main-content">
    <h1>Welcome </h1>
    <h2>explanation about pv</h2>
  </div>
</div>
