 <%= render 'shared/navbar' %>
 <%= render 'shared/mobilemenu' %>
<!-- <div class="header">
  <%= render 'shared/header' %>
</div> -->
<div class="page">
  <!-- <div class="side-bar">
    <%= render 'shared/side_bar', lists: @lists %>
  </div> -->
</div>
