
.element-wrap {
  display: flex;
  align-items: center;
}

.element-content {
  h1, h2, h3 {
    margin: 0 0 0 0;
  }
}

.element-actions {
  flex: 0 0 10%;
}

.element-content {
  flex: 0 0 90%;
}

.element-content-for-index {
  flex: 0 0 100%;
  align-items: center;
}

.activity {
  margin-top: 40px;
  margin-bottom: 40px;
}

.activity-photo {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
