.header {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  .title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 20px;
  }
  li {
    margin-bottom: 0px;
  }
  ul {
  padding: 0px 100px;
  margin-bottom: 0px;
  }
}

.logo {
  img {
    border-radius: 50%;
    height: 100px;
    }
  margin-left: 20px;
}
