
<% elements.sort_by {|element| - element.position}.each do |element| %>
  <div class="element-wrap">
    <div class="element-content-for-index">
      <% if element.display == 'titre' %>
        <h2> <%= element.content %> </h2>
      <% elsif element.display == 'sous-titre' %>
        <h4> <%= element.content %> </h4>
      <% elsif element.display == 'paragraphe' %>
        <p> <%= simple_format(element.content) %> </p>
      <% elsif element.display == 'photo' %>
      <%= cl_image_tag element.photo, width: 1400, crop: :scale, class:"activity-photo" %>
      <% end %>
    </div>
  </div>
<% end %>
