<div class="activity-form">
  <h2>Nouvelle activité</h2>
  <%= simple_form_for(@activity) do |f| %>
    <%= f.input :title, placeholder: 'Titre', label:false %>
    <%= f.submit "ok d'accord", class: "btn btn-prototype" %>
  <% end %>
</div>
