<%= render 'shared/navbar' %>
<div class="container">
  <%= render 'activities/new', activity: @activity %>
  <div class="activities">
    <% @activities.each do |activity|%>
      <div class="activity">
        <div class="elements">
          <%= render 'activities/activity_details', elements: activity.elements %>
        </div>
        <%= link_to "éditer", activity_path(activity) %>
      </div>
    <% end %>
  </div>
</div>
