<%= render 'shared/navbar' %>
<div class="container">
  <%= render 'activities/new', activity: @activity %>
  <div class="activities">
    <% @activities.each do |activity|%>
      <div class="activity">
        <%= activity.title %>
        <%= link_to "show", activity_path(activity) %>
      </div>
    <% end %>
  </div>
</div>
