<div class="container">
  <div class="activity">
    <div class="elements">
      <%= render 'activities/activity_details', elements: @elements, activity: @activity %>
    </div>
    <div class="new_element">
      <%= render 'elements/new', activity: @activity, element: @element %>
    </div>
  </div>
</div>
